body {
    background-image: url('DALL·E 2024-01-13 11.50.36 - A colorful and detailed illustration of an ant hive bustling with activity, but each ant appears visibly unsure and indecisive. The ants have exaggera.png'); /* Path to your background image */
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    background-color: aqua;
}